<script type="text/javascript" src="../../bower_components/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="../../bower_components/jQuery.mmenu/dist/jquery.mmenu.all.js"></script>
<script type="text/javascript" src="../../bower_components/fancybox/dist/jquery.fancybox.min.js"></script>
<script type="text/javascript" src="../../bower_components/matchHeight/jquery.matchHeight.js"></script>
<script type="text/javascript" src="../../bower_components/flexslider/jquery.flexslider-min.js"></script>
<script type="text/javascript" src="../../js/main.js"></script>
