a.logo {
  display: inline-block;
  max-width: 205px;
  font-size: 0;
  text-decoration: none;
  color: #fff;
  @include transition(all, .3s);

  &:hover {
    text-decoration: none;
  }

  &:before {
    content: '\e90b';
    display: inline-block;
    float: left;
    margin-right: 16px;
    font-family: "icomoon";
    font-size: 52px;
    color: $blue;
    @include transition(all, .3s);
    @include breakpoint($not-desktop) {
      font-size: 49px;
    }
  }
}

.sup-desc-logo {
  display: inline-block;
  margin-top: 3px;
  font-family: $roboto_regular;
  font-size: 17px;
  color: rgba(225, 225, 225, .7);
  text-transform: lowercase;
  @include breakpoint($mobile) {
    font-size: 14px;
  }
}

.sub-desc-logo {
  position: relative;
  left: -4px;
  display: inline-block;
  font-family: $roboto;
  font-weight: bold;
  font-size: 52px;
  line-height: 32px;
  color: #fff;
  text-transform: lowercase;
  @include breakpoint($tablet) {
    font-size: 47px;
  }
  @include breakpoint($mobile) {
    font-size: 48px;
    line-height: 25px;
  }
}
