//project variables

$footer_height: 73px;

//==============================================  fonts  ================================================

$tahoma: Tahoma, sans-serif;
$roboto_regular: "RobotoRegular", sans-serif;
$roboto: Roboto, sans-serif;

//==============================================  colors  ================================================

$blue: #104E98;
$dark_gray: #333333;
$twitter: #219FE9;
$fb: #35589A;
$instagramm: #E2306C;
$overlay: rgba(0, 0, 0, .4);