<div class="actors">
    <div class="container">
        <h2 class="actors__title">Популярные актеры</h2>
        <ul class="actors-list">
            <li class="actors-list-item">
                <div class="actors-wrap-img">
                    <a href="#"><img src="../images/assets/anne_hathaway.jpg" alt=""></a>
                </div>
                <div class="actors-wrap-info">
                    <div class="actors__name">
                        <a href="#">Энн Хэтэуэй</a>
                    </div>
                    <div class="actors__films">
                        <div class="actors__film"><a href="#">Стажёр</a> (2015)</div>
                        <div class="actors__film"><a href="#">Джейн Остин</a> (2006)</div>
                    </div>
                </div>
            </li>
            <li class="actors-list-item">
                <div class="actors-wrap-img">
                    <a href="#"><img src="../images/assets/ruth_wilson.jpg" alt=""></a>
                </div>
                <div class="actors-wrap-info">
                    <div class="actors__name">
                        <a href="#">Рут Уилсон</a>
                    </div>
                    <div class="actors__films">
                        <div class="actors__film"><a href="#">Лютер</a> (сериал, 2010 – 2015)</div>
                        <div class="actors__film"><a href="#">Спасти мистера Бэнкса</a> (2013)</div>
                    </div>
                </div>
            </li>
            <li class="actors-list-item">
                <div class="actors-wrap-img">
                    <a href="#"><img src="../images/assets/lara_pulver.jpg" alt=""></a>
                </div>
                <div class="actors-wrap-info">
                    <div class="actors__name">
                        <a href="#">Лара Пулвер</a>
                    </div>
                    <div class="actors__films">
                        <div class="actors__film"><a href="#">Шерлок</a> (сериал, 2010 – ...)</div>
                        <div class="actors__film"><a href="#">Грань будущего</a> (2014)</div>
                    </div>
                </div>
            </li>
            <li class="actors-list-item">
                <div class="actors-wrap-img">
                    <a href="#"><img src="../images/assets/anne_hathaway.jpg" alt=""></a>
                </div>
                <div class="actors-wrap-info">
                    <div class="actors__name">
                        <a href="#">Энн Хэтэуэй</a>
                    </div>
                    <div class="actors__films">
                        <div class="actors__film"><a href="#">Стажёр</a> (2015)</div>
                        <div class="actors__film"><a href="#">Джейн Остин</a> (2006)</div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>