<div class="contact-form" style="background: url('../../images/assets/form-bg.jpg')">
    <div class="container">
        <div class="contact-form-wrap">
            <form action="">
                <div class="form-item">
                    <h2 class="contact-form__title">
                        Не знаешь <br>что <span class="blue">посмотреть?</span>
                    </h2>
                </div>
                <div class="form-item">
                    <span class="contact-form__title-desc">напиши нам - мы подскажем!</span>
                </div>
                <div class="form-item">
                    <select name="" id="">
                        <option selected="selected">Любой жанр</option>
                        <option>Драмма</option>
                        <option>Комедия</option>
                        <option>Ужасы</option>
                        <option>Триллер</option>
                        <option>Детектив</option>
                        <option>Вестерн</option>
                    </select>
                </div>
                <div class="form-item">
                    <input type="email" placeholder="Ваш email">
                </div>
                <div class="form-item">
                    <textarea placeholder="Пожелания по сюжету"></textarea>
                </div>
                <div class="form-action">
                    <input type="submit" value="Получить совет">
                </div>
            </form>
        </div>
        <div class="contact-form__glasses-wrap">
            <img src="../../images/assets/form-glasses.png" alt="">
        </div>
    </div>
</div>