<div class="films">
    <div class="container">
        <div class="films__form-filter-wrap">
            <form action="">
                <div class="form-item">
                    <label for="genre">Жанр:</label>
                    <select name="" id="genre">
                        <option selected="selected">Любой</option>
                        <option>Драмма</option>
                        <option>Комедия</option>
                        <option>Ужасы</option>
                        <option>Триллер</option>
                        <option>Детектив</option>
                        <option>Вестерн</option>
                    </select>
                </div>
                <div class="form-item">
                    <label for="year">Год:</label>
                    <select name="" id="year">
                        <option selected="selected">1980</option>
                        <option>1990</option>
                        <option>2000</option>
                        <option>2017</option>
                    </select>
                </div>
                <div class="form-item">
                    <label for="">Сортировка:</label>
                    <select name="" id="">
                        <option selected="selected">По популярности</option>
                        <option>По продолжительности</option>
                        <option>По кассовым сборам</option>
                        <option>По рейтингу</option>
                    </select>
                </div>
                <div class="form-action">
                    <input type="submit">
                </div>
            </form>
        </div>
        <ul class="films__list">
            <li class="films__list-item">
                <div class="films__img-wrap">
                    <a href="#"><img src="../images/assets/films/perfumer-film.jpg" alt="perfumer-film"></a>
                </div>
                <div class="films__list-item-title"><a href="#">Парфюмер: История одного убийцы</a></div>
                <div class="films__list-item-vocab"><a href="#">2006</a>, <a href="#">Драмы</a>, <a
                        href="#">Триллеры</a>, <a href="#">Криминал</a></div>
            </li>
            <li class="films__list-item">
                <div class="films__img-wrap">
                    <a href="#"><img src="../images/assets/films/mind-hunters-film.jpg" alt="mind-hunters-film"></a>
                </div>
                <div class="films__list-item-title"><a href="#">Охотники за разумом</a></div>
                <div class="films__list-item-vocab"><a href="#">2004</a>, <a href="#">Триллеры</a>, <a
                        href="#">Ужасы</a>, <a href="#">Боевики</a></div>
            </li>
            <li class="films__list-item">
                <div class="films__img-wrap">
                    <a href="#"><img src="../images/assets/films/hannibal-film.jpg" alt="hannibal-film"></a>
                </div>
                <div class="films__list-item-title"><a href="#">Ганнибал</a></div>
                <div class="films__list-item-vocab"><a href="#">2001</a>, <a href="#">Триллеры</a>, <a
                        href="#">Криминал</a>, <a href="#">Детектив</a></div>
            </li>
            <li class="films__list-item">
                <div class="films__img-wrap">
                    <a href="#"><img src="../images/assets/films/who-are-you-mr-brooks.jpg"
                                     alt="who-are-you-mr-brooks"></a>
                </div>
                <div class="films__list-item-title"><a href="#">Кто Вы, Мистер Брукс?</a></div>
                <div class="films__list-item-vocab"><a href="#">2007</a>, <a href="#">Драмы</a>, <a
                        href="#">Триллеры</a>, <a href="#">Криминал</a></div>
            </li>
            <li class="films__list-item">
                <div class="films__img-wrap">
                    <a href="#"><img src="../images/assets/films/konstantin-film.jpg" alt="konstantin-film"></a>
                </div>
                <div class="films__list-item-title"><a href="#">Константин: Повелитель тьмы</a></div>
                <div class="films__list-item-vocab"><a href="#">2005</a>, <a href="#">Триллеры</a>, <a
                        href="#">Ужасы</a>, <a href="#">Фэнтези</a>, <a href="#">Мистика</a></div>
            </li>
            <li class="films__list-item">
                <div class="films__img-wrap">
                    <a href="#"><img src="../images/assets/films/a-girl-with-dragon-tattoo-film.jpg"
                                     alt="a-girl-with-dragon-tattoo-film"></a>
                </div>
                <div class="films__list-item-title"><a href="#">Девушка с татуировкой дракона</a></div>
                <div class="films__list-item-vocab"><a href="#">2011</a>, <a href="#">Драмы</a>, <a
                        href="#">Триллеры</a>, <a href="#">Криминал</a>, <a href="#">Детектив</a></div>
            </li>
            <li class="films__list-item">
                <div class="films__img-wrap">
                    <a href="#"><img src="../images/assets/films/matrix-film.jpg" alt="matrix-film"></a>
                </div>
                <div class="films__list-item-title"><a href="#">Матрица</a></div>
                <div class="films__list-item-vocab"><a href="#">1999</a>, <a href="#">Фантастика</a>, <a href="#">Боевики</a>
                </div>
            </li>
            <li class="films__list-item">
                <div class="films__img-wrap">
                    <a href="#"><img src="../images/assets/films/8-femmes-film.jpg" alt="8-femmes-film"></a>
                </div>
                <div class="films__list-item-title"><a href="#">8 женщин</a></div>
                <div class="films__list-item-vocab"><a href="#">2002</a>, <a href="#">Детектив</a>, <a
                        href="#">Криминал</a></div>
            </li>
            <li class="films__list-item">
                <div class="films__img-wrap">
                    <a href="#"><img src="../images/assets/films/how-avoid-a-punishment-for-murder-film.jpg"
                                     alt="how-avoid-a-punishment-for-murder-film"></a>
                </div>
                <div class="films__list-item-title"><a href="#">Как избежать наказания за убийство</a></div>
                <div class="films__list-item-vocab"><a href="#">2014</a>, <a href="#">Юридический триллер</a>
                </div>
            </li>
            <li class="films__list-item">
                <div class="films__img-wrap">
                    <a href="#"><img src="../images/assets/films/hurry-potter-film.jpg" alt="hurry-potter-film"></a>
                </div>
                <div class="films__list-item-title"><a href="#">Гарри Поттер и Дары Смерти: Часть II</a></div>
                <div class="films__list-item-vocab"><a href="#">2011</a>, <a href="#">Драмы</a>, <a href="#">Фэнтези</a>,
                    <a href="#">Приключения</a>, <a href="#">Детектив</a>
                </div>
            </li>
            <li class="films__list-item">
                <div class="films__img-wrap">
                    <a href="#"><img src="../images/assets/films/solt-film.jpg" alt="solt-film"></a>
                </div>
                <div class="films__list-item-title"><a href="#">Солт</a></div>
                <div class="films__list-item-vocab"><a href="#">2010</a>, <a href="#">Триллеры</a>, <a
                        href="#">Криминал</a>, <a href="#">Боевики</a>, <a href="#">Детектив</a>
                </div>
            </li>
            <li class="films__list-item">
                <div class="films__img-wrap">
                    <a href="#"><img src="../images/assets/films/great-wall-film.jpg" alt="great-wall-film"></a>
                </div>
                <div class="films__list-item-title"><a href="#">Великая стена</a></div>
                <div class="films__list-item-vocab"><a href="#">2016</a>, <a href="#">Триллеры</a>, <a
                        href="#">Фэнтези</a>, <a href="#">Приключения</a>, <a href="#">Боевики</a>, <a
                        href="#">Детектив</a>
                </div>
            </li>
        </ul>
        <div class="item-list">
            <ul class="pager pager-load-more">
                <li><a href="#">Мне нужно больше фильмов</a></li>
            </ul>
        </div>
    </div>
</div>