<div class="header-slider">
    <div class="header-slider__flexslider flexslider">
        <ul class="slides">
            <li class="slide-item" style="background: url('../images/assets/main-slider-first-slide.jpg')">
                <div class="container">
                    <h2 class="slide-item__title"><a href="#">Варкрафт</a></h2>
                    <div class="slide-item__content">
                        <div class="slide-item__vocab">
                            <a href="#">фэнтези</a> <a href="#">боевик</a> <a href="#">приключения</a>
                        </div>
                        <div class="slide-item__desc">Веками магия и неприступные стены защищали людей от любых
                            напастей. Но древнее зло, побежденное и забытое тысячелетия назад, пробудилось...
                        </div>
                        <div class="slide-item__wrap-links">
                            <div class="wrap-about-film">
                                <a href="#">О фильме</a>
                            </div>
                            <div class="wrap-watch-film">
                                <a href="#">Смотреть трейлер</a>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li class="slide-item" style="background: url('../images/assets/main-slider-second-slide.jpg')">
                <div class="container">
                    <h2 class="slide-item__title"><a href="#">Хоббит: Битва пяти воинств</a></h2>
                    <div class="slide-item__content">
                        <div class="slide-item__vocab">
                            <a href="#">фэнтези</a> <a href="#">приключения</a>
                        </div>
                        <div class="slide-item__desc">Когда отряд из тринадцати гномов нанимал хоббита Бильбо Бэгинса в
                            качестве взломщика и четырнадцатого, «счастливого», участника похода к ...
                        </div>
                        <div class="slide-item__wrap-links">
                            <div class="wrap-about-film">
                                <a href="#">О фильме</a>
                            </div>
                            <div class="wrap-watch-film">
                                <a href="#">Смотреть трейлер</a>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li class="slide-item light" style="background: url('../images/assets/main-slider-third-slide.jpg')">
                <div class="container">
                    <h2 class="slide-item__title"><a href="#">Варкрафт</a></h2>
                    <div class="slide-item__content">
                        <div class="slide-item__vocab">
                            <a href="#">фэнтези</a> <a href="#">боевик</a> <a href="#">приключения</a>
                        </div>
                        <div class="slide-item__desc">Веками магия и неприступные стены защищали людей от любых
                            напастей. Но древнее зло, побежденное и забытое тысячелетия назад, пробудилось...
                        </div>
                        <div class="slide-item__wrap-links">
                            <div class="wrap-about-film">
                                <a href="#">О фильме</a>
                            </div>
                            <div class="wrap-watch-film">
                                <a href="#">Смотреть трейлер</a>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li class="slide-item" style="background: url('../images/assets/main-slider-first-slide.jpg')">
                <div class="container">
                    <h2 class="slide-item__title"><a href="#">Варкрафт</a></h2>
                    <div class="slide-item__content">
                        <div class="slide-item__vocab">
                            <a href="#">фэнтези</a> <a href="#">боевик</a> <a href="#">приключения</a>
                        </div>
                        <div class="slide-item__desc">Веками магия и неприступные стены защищали людей от любых
                            напастей. Но древнее зло, побежденное и забытое тысячелетия назад, пробудилось...
                        </div>
                        <div class="slide-item__wrap-links">
                            <div class="wrap-about-film">
                                <a href="#">О фильме</a>
                            </div>
                            <div class="wrap-watch-film">
                                <a href="#">Смотреть трейлер</a>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>