<div class="top-menu">
    <div class="container">
        //= ../template/logo.html
        <div class="top-menu-wrap">
            <nav id="menu">
                <ul class="menu">
                    <li class="menu__drop-item">
                        <a href="#">Фильмы</a>
                        <ul class="menu">
                            <li><a href="#">премьеры</a></li>
                            <li><a href="#">скоро в кино</a></li>
                            <li><a href="#">трейлеры</a></li>
                            <li><a href="#">каталог</a></li>
                        </ul>
                    </li>
                    <li><a href="#">Актеры</a></li>
                    <li><a href="#">Новости</a></li>
                    <li><a href="#">Топ</a></li>
                </ul>
            </nav>
            <div class="serch-wrap">
                <form action="#">
                    <div class="form-item">
                        <input type="text" placeholder="Что вы хотите найти?">
                    </div>
                </form>
                <a href="#menu" class="icon icon-search"></a>
            </div>
        </div>
    </div>
</div>