<div class="news-content">
    <h2 class="news-content__title">Новости кино</h2>
    <div class="news-content__tabs">
        <form action="#">
            <div class="form-item">
                <input type="radio" id="top" checked="checked" name="news">
                <label for="top">Топ</label>
            </div>
            <div class="form-item">
                <input type="radio" id="films" name="news">
                <label for="films">Фильмы</label>
            </div>
            <div class="form-item">
                <input type="radio" id="actors" name="news">
                <label for="actors">Актеры</label>
            </div>
        </form>
    </div>
    <ul class="news-content-list">
        <li class="news-content-list-item">
            <a href="#">
                <div class="news-list-item__img-wrap">
                    <img src="../../images/assets/news/judy-dench-is-queen-news.jpg" alt="">
                </div>
                <div class="news-list-item__desc-wrap">
                    <div class="news__title">Джуди Денч снова сыграет королеву Викторию</div>
                    <div class="news-data">вчера в 15:06</div>
                </div>
            </a>
        </li>
        <li class="news-content-list-item">
            <a href="#">
                <div class="news-list-item__img-wrap">
                    <img src="../../images/assets/news/guardians-of-galaxy-news.jpg" alt="">
                </div>
                <div class="news-list-item__desc-wrap">
                    <div class="news__title">Джуди Денч снова сыграет королеву Викторию</div>
                    <div class="news-data">вчера в 15:06</div>
                </div>
            </a>
        </li>
        <li class="news-content-list-item">
            <a href="#">
                <div class="news-list-item__img-wrap">
                    <img src="../../images/assets/news/game-of-throne-final-news.jpg" alt="">
                </div>
                <div class="news-list-item__desc-wrap">
                    <div class="news__title">Джуди Денч снова сыграет королеву Викторию</div>
                    <div class="news-data">вчера в 15:06</div>
                </div>
            </a>
        </li>
    </ul>
</div>