<div class="sidebar-random">
    <h2 class="sidebar-random__tile">Случайный фильм</h2>
    <div class="sidebar-random__film">

        <div class="sidebar-random__img-wrap">
            <a href="#"><img src="../images/assets/lord-of-the-circle-film.jpg" alt=""></a>
        </div>
        <div class="sidebar-random__info-wrap">
            <a href="#" class="sidebar-random__title">Властелин колец: Возвращение Короля</a>
            <div class="sidebar-random__wrap-genre">
                <a href="#" class="sidebar-random__genre">Фэнтези</a>,
                <a href="#" class="sidebar-random__genre">драма</a>,
                <a href="#" class="sidebar-random__genre">приключения</a>
            </div>
        </div>
    </div>
</div>