<div class="sitemap">
    <div class="container">
        <div class="sitemap-item">
            //= ../template/logo.html
        </div>
        <div class="sitemap-item">
            <h4 class="sitemap__title">Фильмы</h4>
            <ul class="menu">
                <li><a href="#">Все фильмы</a></li>
                <li><a href="#">Новинки</a></li>
                <li><a href="#">Сейчас в кино</a></li>
            </ul>
        </div>
        <div class="sitemap-item">
            <h4 class="sitemap__title">Топ</h4>
            <ul class="menu">
                <li><a href="#">Топ-100</a></li>
                <li><a href="#">Самые ожидаемые</a></li>
                <li><a href="#">Подборки лучших</a></li>
                <li><a href="#">Рейтинг актеров</a></li>
            </ul>
        </div>
        <div class="sitemap-item">
            <h4 class="sitemap__title">О нас</h4>
            <ul class="menu">
                <li><a href="#">О проекте</a></li>
                <li><a href="#">Партнерам</a></li>
                <li><a href="#">Партнерам
                    Реклама на сайте</a></li>
            </ul>
        </div>
    </div>
</div>